<div class="mainpage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-todo-input-wrap">
                    <div class="main-todo-input fl-wrap">
                        <div class="main-todo-input-item">
                            <input (keyup.enter)="addText()" type="text" id="todo-list-item" autocomplete="off" placeholder="What will you do today?" [(ngModel)]="newText">
                        </div>
                        <button class="add-items main-search-button" (click)="addText()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="table">
                    <table>
                        <tbody>
                            <tr *ngFor="let item of arrList">

                                <td>
                                    <input class="form-control" id="input-{{item.id}}" type="text" [value]="item.text" [disabled]="item.check">

                                    <button *ngIf="!item.check" class="btn btn-success btn-save" type="button" (click)="saveEdit(item.id)">Save</button>
                                    <!-- <button *ngIf="!item.check" class="btn btn-success btn-save" type="button" (click)="cancelEdit(item.id)">Cancel</button> -->
                                </td>

                                <td><button type="button" name="edit" class="button-edit" (click)="editText(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pen-fill text-white" viewBox="0 0 16 16">
                                    <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                  </svg></button></td>
                                <td>
                                    <button type="button" name="del" class="button-del" (click)="delText(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>